.step-5-text-section {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 634px;
}

.step-5-text-section img {
  width: 80px;
  height: 80px;
}

.step-5-text-section .step-heading {
  margin-top: 32px;
}

.step-5-text-section .description {
  line-height: 1.8rem;
}

@media screen and (max-width: 780px) {
  .step-5-text-section {
    padding: 75px 20px;
  }
}
