<section class="step-4 step">
    <section class="steps-display">
      <div class="step-text">
        <div class="step-number" >1</div>

        <div class="step-name">
          <p class="step-num">Step 1</p>
          <p class="step-name-text">Your info</p>
        </div>
      </div>

      <div class="step-text">
        <div class="step-number">2</div>

        <div class="step-name">
          <p class="step-num">Step 2</p>
          <p class="step-name-text">Select plan</p>
        </div>
      </div>

      <div class="step-text">
        <div class="step-number">3</div>

        <div class="step-name">
          <p class="step-num">Step 3</p>
          <p class="step-name-text">Add-ons</p>
        </div>
      </div>

      <div class="step-text">
        <div class="step-number current-step">4</div>

        <div class="step-name">
          <p class="step-num">Step 4</p>
          <p class="step-name-text">Summary</p>
        </div>
      </div>
    </section>

    <section class="step-form-section">
      <section class="step-text-section">
        <h1 class="step-heading">Finishing up</h1>
        <p class="description">
          Double-check everything looks OK before confirming.
        </p>

        <section class="bill-section">
          <div class="selected-plan">
            <div class="final-plan-text-section">
              <p class="final-plan-text"></p>
              <a href="#" class="change-plan">Change</a>
            </div>
            <p class="selected-plan-price"></p>
          </div>

          <hr class="divider" />

          <section class="selected-add-on-section"></section>
        </section>

        <div class="total-price-section">
          <p class="total-text"></p>
          <p class="total-price"></p>
        </div>
      </section>

      <section class="step-button-area step-2-button-area">
        <button class="go-back-btn" routerLink="/add-ons">Go Back</button>
        <button class="next-step-btn confirm-btn step-4-btn" routerLink="/form-done">Confirm</button>
      </section>
    </section>
  </section>