<section class="step-4 step">
    <section class="steps-display">
      <div class="step-text">
        <div class="step-number" >1</div>

        <div class="step-name">
          <p class="step-num">Passo 1</p>
          <p class="step-name-text">Suas Informações</p>
        </div>
      </div>

      <div class="step-text">
        <div class="step-number">2</div>

        <div class="step-name">
          <p class="step-num">Passo 2</p>
          <p class="step-name-text">Seu Endereço</p>
        </div>
      </div>

      <div class="step-text">
        <div class="step-number">3</div>

        <div class="step-name">
          <p class="step-num">Passo 3</p>
          <p class="step-name-text">Selecione um plano</p>
        </div>
      </div>

      <div class="step-text">
        <div class="step-number current-step">4</div>

        <div class="step-name">
          <p class="step-num">Passo 4</p>
          <p class="step-name-text">Resumo</p>
        </div>
      </div>
    </section>

    <section class="step-form-section step-5-text-section">
      <img src="../../assets/icon-thank-you.svg" alt="" />
      <h1 class="step-heading">Obrigado!</h1>
      <p class="description">
        Parabéns! Você adquiriu um dos nossos planos. Você receberá um e-mail com mais informações.
      </p>
      <button class="go-back-btn mt-5" routerLink="/select-plan">Go Back</button>
    </section>
  </section>