<section class="step-1 step">
  <section class="steps-display">
    <div class="step-text">
      <div class="step-number current-step">1</div>

      <div class="step-name">
        <p class="step-num">Passo 1</p>
        <p class="step-name-text">Suas Informações</p>
      </div>
    </div>

    <div class="step-text">
      <div class="step-number">2</div>

      <div class="step-name">
        <p class="step-num">Passo 2</p>
        <p class="step-name-text">Selecione o plano</p>
      </div>
    </div>

    <div class="step-text">
      <div class="step-number">3</div>

      <div class="step-name">
        <p class="step-num">Passo 3</p>
        <p class="step-name-text">Add-ons</p>
      </div>
    </div>

    <div class="step-text">
      <div class="step-number">4</div>

      <div class="step-name">
        <p class="step-num">Passo 4</p>
        <p class="step-name-text">Resumo</p>
      </div>
    </div>
  </section>
</section>
