<section class="step">
  <app-steps-display [currentStep]="currentStep"/>
  <section class="step-form-section">
    <section class="step-text-section">
      <h1 class="step-heading">Selecione seu plano</h1>
      <p class="description">
        Você tem a opção de faturamento mensal ou anual.
      </p>

      <section class="step-2-option-section">
        <div
          class="step-2-option"
          #arcade
          (click)="selectPlan('arcade')"
          [ngClass]="{ 'option-clicked': selectedPlan === 'arcade' }"
        >
          <img src="../../assets/icon-arcade.svg" alt="Ícone do Plano Arcade" />
          <div class="option-text">
            <h2 class="planName">Arcade</h2>
            <p class="price arcade-price">R$<span>19</span>/mês</p>
          </div>
        </div>

        <div
          class="step-2-option"
          #advanced
          (click)="selectPlan('advanced')"
          [ngClass]="{ 'option-clicked': selectedPlan === 'advanced' }"
        >
          <img
            src="../../assets/icon-advanced.svg"
            alt="Ícone do Plano Advanced"
          />
          <div class="option-text">
            <h2 class="planName">Advanced</h2>
            <p class="price advanced-price">R$<span>25</span>/mês</p>
          </div>
        </div>

        <div
          class="step-2-option"
          #pro
          (click)="selectPlan('pro')"
          [ngClass]="{ 'option-clicked': selectedPlan === 'pro' }"
        >
          <img src="../../assets/icon-pro.svg" alt="Ícone do Plano Pro" />
          <div class="option-text">
            <h2 class="planName">Pro</h2>
            <p class="price pro-price">R$<span>32</span>/mês</p>
          </div>
        </div>
      </section>

      <section class="toggle-section">
        <p class="toggle-monthly bold">Mensal</p>
        <mat-slide-toggle
          class="toggle-switch"
          (toggleChange)="toggleChange()"
        ></mat-slide-toggle>
        <p class="toggle-yearly">Anual</p>
      </section>
    </section>

    <section class="step-button-area step-2-button-area">
      <button class="go-back-btn" routerLink="/address">Voltar</button>
      <button type="submit" class="next-step-btn step-2-btn" (click)="nextStep()">
        Contratar
      </button>
    </section>
  </section>
</section>
