<section class="step-2 step">
  <section class="steps-display">
    <div class="step-text">
      <div class="step-number">1</div>

      <div class="step-name">
        <p class="step-num">Passo 1</p>
        <p class="step-name-text">Suas informações</p>
      </div>
    </div>

    <div class="step-text">
      <div class="step-number current-step">2</div>

      <div class="step-name">
        <p class="step-num">Passo 2</p>
        <p class="step-name-text">Selecione um plano</p>
      </div>
    </div>

    <div class="step-text">
      <div class="step-number">3</div>

      <div class="step-name">
        <p class="step-num">Passo 3</p>
        <p class="step-name-text">Add-ons</p>
      </div>
    </div>

    <div class="step-text">
      <div class="step-number">4</div>

      <div class="step-name">
        <p class="step-num">Passo 4</p>
        <p class="step-name-text">Summary</p>
      </div>
    </div>
  </section>

  <section class="step-form-section">
    <section class="step-text-section">
      <h1 class="step-heading">Selecione seu plano</h1>
      <p class="description">
        You have the option of monthly or yearly billing.
      </p>

      <section class="step-2-option-section">
        <div class="step-2-option option-clicked">
          <img src="../../assets/icon-arcade.svg" alt="" />
          <div class="option-text">
            <h2 class="planName">Arcade</h2>
            <p class="price arcade-price">
              $<span class="price-amt">9</span>/mo
            </p>
            <p class="feature">2 months free</p>
          </div>
        </div>

        <div class="step-2-option">
          <img src="../../assets/icon-advanced.svg" alt="" />
          <div class="option-text">
            <h2 class="planName">Advanced</h2>
            <p class="price advanced-price">
              $<span class="price-amt">12</span>/mo
            </p>
            <p class="feature">2 months free</p>
          </div>
        </div>

        <div class="step-2-option">
          <img src="../../assets/icon-pro.svg" alt="" />
          <div class="option-text">
            <h2 class="planName">Pro</h2>
            <p class="price pro-price">$<span class="price-amt">15</span>/mo</p>
            <p class="feature">2 months free</p>
          </div>
        </div>
      </section>

      <section class="toggle-section">
        <p class="toggle-monthly bold">Monthly</p>
        <div class="toggle-area">
          <div class="toggle-circle"></div>
        </div>
        <p class="toggle-yearly">Yearly</p>
      </section>
    </section>

    <section class="step-button-area step-2-button-area">
      <button class="go-back-btn" routerLink="/">Go Back</button>
      <button class="next-step-btn step-2-btn" routerLink="/add-ons">
        Next Step
      </button>
    </section>
  </section>
</section>
