<div class="background">
  <div class="container">
    <div class="menu">
      <ul>
        <li>
          <span>1</span>
          <div>
            <p class="mb-0">Passo 1</p>
            <p class="fw-bold">Suas Informações</p>
          </div>
        </li>
        <li>
          <span>2</span>
          <div>
            <p class="mb-0">Passo 2</p>
            <p class="fw-bold">Seu endereço</p>
          </div>
        </li>
        <li>
          <span>3</span>
          <div>
            <p class="mb-0">Passo 3</p>
            <p class="fw-bold">Add-ons</p>
          </div>
        </li>
        <li>
          <span>4</span>
          <div>
            <p class="mb-0">Passo 4</p>
            <p class="fw-bold">Summary</p>
          </div>
        </li>
      </ul>
    </div>
    <form>
      <p class="descricao mb-3">Por favor, preencha com seus dados pessoais.</p>
      <input type="text" placeholder="Nome">
      <input type="text" placeholder="E-mail">
      <input type="text" placeholder="Celular">
      <button>Próximo passo</button>
    </form>
  </div>
</div>
