<section class="step-3 step">
    <section class="steps-display">
      <div class="step-text">
        <div class="step-number">1</div>

        <div class="step-name">
          <p class="step-num">Step 1</p>
          <p class="step-name-text">Your info</p>
        </div>
      </div>

      <div class="step-text">
        <div class="step-number">2</div>

        <div class="step-name">
          <p class="step-num">Step 2</p>
          <p class="step-name-text">Select plan</p>
        </div>
      </div>

      <div class="step-text">
        <div class="step-number current-step">3</div>

        <div class="step-name">
          <p class="step-num">Step 3</p>
          <p class="step-name-text">Add-ons</p>
        </div>
      </div>

      <div class="step-text">
        <div class="step-number">4</div>

        <div class="step-name">
          <p class="step-num">Step 4</p>
          <p class="step-name-text">Summary</p>
        </div>
      </div>
    </section>

    <section class="step-form-section">
      <section class="step-text-section">
        <h1 class="step-heading">Pick add-ons</h1>
        <p class="description">Add-ons help enhance your gaming experience.</p>

        <section class="step-3-option-section">
          <div class="step-3-option">
            <div class="left-section">
              <div class="click-option"></div>

              <div class="add-on-text">
                <p class="add-on">Online Service</p>
                <p class="add-on-description">Access to multiplayer games</p>
              </div>
            </div>

            <div class="price-section">
              <p>+$<span class="add-on-price">1</span>/mo</p>
            </div>
          </div>

          <div class="step-3-option">
            <div class="left-section">
              <div class="click-option"></div>

              <div class="add-on-text">
                <p class="add-on">Larger storage</p>
                <p class="add-on-description">Extra 1TB of cloud save</p>
              </div>
            </div>

            <div class="price-section">
              <p>+$<span class="add-on-price">2</span>/mo</p>
            </div>
          </div>

          <div class="step-3-option">
            <div class="left-section">
              <div class="click-option"></div>

              <div class="add-on-text">
                <p class="add-on">Customizable Profile</p>
                <p class="add-on-description">Custom theme on your profile</p>
              </div>
            </div>

            <div class="price-section">
              <p>+$<span class="add-on-price">2</span>/mo</p>
            </div>
          </div>
        </section>
      </section>

      <section class="step-button-area step-2-button-area">
        <button class="go-back-btn">Go Back</button>
        <button class="next-step-btn step-3-btn">Next Step</button>
      </section>
    </section>
  </section>