<section class="step-1 step">
    <section class="step-form-section">
      <h1 class="step-heading">Informações pessoais</h1>
      <p class="description">
        Forneça seu nome, endereço de e-mail e número de celular.
      </p>

      <form action="">
        <div class="input-area">
          <div class="label-area">
            <p class="label">Nome</p>
          </div>
          <input type="text" placeholder="ex. Raul Domingues" id="name" />
        </div>

        <div class="input-area">
          <div class="other-label-area">
            <p class="label">E-mail</p>
          </div>

          <input
            type="email"
            placeholder="ex. raulhdomingues@gmail.com"
            id="email"
          />
        </div>

        <div class="input-area">
          <div class="other-label-area">
            <p class="label">Celular</p>
          </div>
          <input type="text" placeholder="ex. 4499999999" id="phone" />
        </div>

        <section class="step-button-area step-1-button-area">
          <button class="next-step-btn step-1-btn" type="submit">
            Próximo passo
          </button>
        </section>
      </form>
    </section>
  </section>