<section class="step-1 step">
  <section class="steps-display">
    <div class="step-text">
      <div class="step-number current-step">1</div>

      <div class="step-name">
        <p class="step-num">Passo 1</p>
        <p class="step-name-text">Suas Informações</p>
      </div>
    </div>

    <div class="step-text">
      <div class="step-number">2</div>

      <div class="step-name">
        <p class="step-num">Passo 2</p>
        <p class="step-name-text">Selecione o plano</p>
      </div>
    </div>

    <div class="step-text">
      <div class="step-number">3</div>

      <div class="step-name">
        <p class="step-num">Passo 3</p>
        <p class="step-name-text">Add-ons</p>
      </div>
    </div>

    <div class="step-text">
      <div class="step-number">4</div>

      <div class="step-name">
        <p class="step-num">Passo 4</p>
        <p class="step-name-text">Resumo</p>
      </div>
    </div>
  </section>

  <section class="step-form-section">
    <h1 class="step-heading">Informações pessoais</h1>
    <p class="description">
      Forneça seu nome, endereço de e-mail e número de celular.
    </p>

    <form>
      <div class="input-area">
        <div class="label-area">
          <p class="label">Nome</p>
        </div>
        <input type="text" placeholder="ex. Raul Domingues" id="name" />
      </div>

      <div class="input-area">
        <div class="label-area mt-4">
          <p class="label">E-mail</p>
        </div>

        <input
          type="email"
          placeholder="ex. raulhdomingues@gmail.com"
          id="email"
        />
      </div>

      <div class="input-area">
        <div class="label-area mt-4">
          <p class="label">Celular</p>
        </div>
        <input type="text" placeholder="ex. 4499999999" id="phone" />
      </div>

      <section class="step-button-area step-1-button-area">
        <button class="next-step-btn step-1-btn" type="submit" routerLink="/select-plan">
          Próximo passo
        </button>
      </section>
    </form>
  </section>
</section>
