<section class="step-1 step">
  <section class="steps-display">
    <div class="step-text">
      <div class="step-number current-step">1</div>

      <div class="step-name">
        <p class="step-num">Passo 1</p>
        <p class="step-name-text">Suas Informações</p>
      </div>
    </div>

    <div class="step-text">
      <div class="step-number">2</div>

      <div class="step-name">
        <p class="step-num">Passo 2</p>
        <p class="step-name-text">Seu Endereço</p>
      </div>
    </div>

    <div class="step-text">
      <div class="step-number">3</div>

      <div class="step-name">
        <p class="step-num">Passo 3</p>
        <p class="step-name-text">Selecione um plano</p>
      </div>
    </div>

    <div class="step-text">
      <div class="step-number">4</div>

      <div class="step-name">
        <p class="step-num">Passo 4</p>
        <p class="step-name-text">Resumo</p>
      </div>
    </div>
  </section>

  <section class="step-form-section">
    <h1 class="step-heading">Informações pessoais</h1>
    <p class="description m-0">
      Forneça seu nome, endereço de e-mail e número de celular.
    </p>

    <form [formGroup]="form" (ngSubmit)="goToStep2()">
      <div class="input-area">
        <div class="label-area">
          <p class="label mb-0">Nome</p>
        </div>
        <input
          type="text"
          placeholder="ex. Raul Domingues"
          id="nome"
          formControlName="nome"
        />
        <small
          *ngIf="
            form.get('nome')?.touched && form.get('nome')?.hasError('required')
          "
          >Digite o seu nome.</small
        >
        <small
          *ngIf="
            form.get('nome')?.touched && form.get('nome')?.hasError('minlength')
          "
          >Deve contér no mínimo 3 caracteres</small
        >
      </div>

      <div class="input-area">
        <div class="label-area mt-3">
          <p class="label mb-0">E-mail</p>
        </div>

        <input
          type="email"
          placeholder="ex. exemplo@gmail.com"
          id="email"
          formControlName="email"
        />
        <small
          *ngIf="
            form.get('email')?.touched &&
            form.get('email')?.hasError('required')
          "
          >Campo obrigatório.</small
        >
        <small
          *ngIf="
            form.get('email')?.touched && form.get('email')?.hasError('email')
          "
          >Formato de e-mail inválido</small
        >
      </div>

      <div class="input-area">
        <div class="label-area mt-3">
          <p class="label mb-0">Celular</p>
        </div>
        <input
          type="text"
          placeholder="ex. (44) 99999-9999"
          id="celular"
          formControlName="celular"
          mask="(00) 00000-0000"
        />
        <small
          *ngIf="
            form.get('celular')?.touched &&
            form.get('celular')?.hasError('required')
          "
          >Campo obrigatório.</small
        >
        <small
          *ngIf="
            form.get('celular')?.touched &&
            form.get('celular')?.hasError('minlength')
          "
        >
          Formato inválido
        </small>
      </div>

      <section class="step-button-area step-1-button-area mt-5">
        <button
          class="next-step-btn step-1-btn"
          type="submit"
          [disabled]="!form.valid"
        >
          Próximo passo
        </button>
      </section>
    </form>
  </section>
</section>
