<section class="step">
  <section class="step-form-section">
    <h1 class="step-heading">Endereço</h1>
    <p class="description">Insira o seu endereço completo.</p>

    <form [formGroup]="form" (ngSubmit)="goToStep3()">
      <div class="input-area">
        <div class="label-area">
          <p class="label mb-0">CEP</p>
        </div>
        <input
          type="text"
          placeholder="ex. 01001-000"
          id="cep"
          formControlName="cep"
          (blur)="getAddress()"
          mask="00000-000"
        />
        <small
          *ngIf="
            form.get('cep')?.touched && form.get('cep')?.hasError('minlength')
          "
          >CEP inválido.</small
        >
        <small
          *ngIf="
            form.get('cep')?.touched && form.get('cep')?.hasError('required')
          "
          >Campo obrigatório.</small
        >
      </div>

      <div class="input-area">
        <div class="label-area mt-3">
          <p class="label mb-0">Logradouro</p>
        </div>

        <input
          type="text"
          placeholder="ex. Av. Carneiro Leão"
          id="logradouro"
          formControlName="logradouro"
        />
      </div>

      <div class="input-area">
        <div class="label-area mt-3">
          <p class="label mb-0">Bairro</p>
        </div>
        <input
          type="text"
          placeholder="ex. Centro"
          id="bairro"
          formControlName="bairro"
        />
      </div>

      <div class="input-area">
        <div class="label-area mt-3">
          <p class="label mb-0">Cidade/Estado</p>
        </div>
        <input
          type="text"
          placeholder="ex. Maringá-PR"
          id="cidade"
          formControlName="cidade"
        />
      </div>

      <section class="step-button-area step-2-button-area mt-4">
        <button class="go-back-btn" routerLink="/">Voltar</button>
        <button class="next-step-btn step-1-btn" type="submit">
          Próximo passo
        </button>
      </section>
    </form>
  </section>
</section>
