@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import "@angular/material/prebuilt-themes/purple-green.css";

body {
  font-family: "Ubuntu", sans-serif;
  background-color: #e8e8e6;
}

* {
  padding: 0;
  margin: 0;
}

button {
  font-family: "Ubuntu", sans-serif;
  color: #eaffff;
  background-color: #02295a;
  border: none;
  transition: 0.2s ease-in-out;
  cursor: pointer;
  z-index: 1000;
}

main {
  display: flex;
  gap: 30px;
  margin: 100px auto;
  width: 850px;
  height: 600px;
  background-color: #fff;
  border-radius: 20px;
  padding: 16px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px;
}

.step {
  display: flex;
  width: 100%;
  height: 100%;
}

.step-form-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.current-step {
  background-color: #fff;
  color: #02295a;
  border: none;
}

.step-2-option-section {
  gap: 10px;
}

.step-heading {
  color: #02295a;
  font-size: 35px;
}

.description {
  color: #9699ab;
  font-weight: 400;
}

.label {
  font-size: 14px;
  font-weight: 500;
  color: #02295a;
}

input {
  margin-top: 11px;
  font-family: "Ubuntu", sans-serif;
  border: 1px solid #9699ab;
  width: 100%;
  border-radius: 8px;
  padding: 12.5px 16px;
  font-size: 16px;
  color: #02295a;
  font-weight: 500;
  border: 1px solid #0000001e;
}

input::placeholder {
  font-weight: 400;
}

small {
  color: rgba(255, 0, 0, 0.705);
}

.step-button-area {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.next-step-btn {
  padding: 15px 25px;
  border-radius: 10px;
}

.next-step-btn:hover {
  background-color: #154a8a;
  color: #eaffff;
}

.price {
  margin-top: 4px;
  color: #9699ab;
  font-size: 13px;
}

.go-back-btn {
  background-color: #fff;
  color: #9699ab;
  cursor: pointer;
}

.go-back-btn:hover {
  transform: translateY(-2px);
  color: #02295a;
}

.bold {
  color: #02295a;
}

// @media screen and (max-width: 960px) {
//   .step-text-section {
//     width: 428px;
//   }
// }

// @media screen and (max-width: 913px) {
  
//   .step-form-section {
//     width: 60%;
//   }
// }

@media screen and (max-width: 780px) {
  main {
    z-index: 5;
    width: 92%;
    margin-top: 99px;
    padding: 0;
    height: auto;
  }
  .steps-display {
    z-index: -1;
    position: absolute;
    background-image: url("./assets/bg-sidebar-mobile.svg");
    top: 0;
    left: 0;
    width: 100%;
    height: 172px;
    background-repeat: no-repeat;
    flex-direction: row;
    justify-content: center;
    background-size: cover;
    border-radius: 0;
    padding: 0;
  }
  .step-number {
    margin-top: 32px;
  }

  .step-form-section {
    padding: 16px 24px 24px;
    width: 426px;
    justify-content: flex-start;
  }
  .step {
    height: auto;
  }
}

// @media screen and (max-width: 550px) {
//   .option-text {
//     margin-top: 0;
//   }
//   .step-heading {
//     font-size: 28px;
//   }
//   .step-3-option {
//     padding: 15px;
//   }
//   .left-section {
//     gap: 15px;
//   }
// }
