<section class="step-5 step">
    <section class="steps-display step-5-display">
      <div class="step-text">
        <div class="step-number">1</div>

        <div class="step-name">
          <p class="step-num">Step 1</p>
          <p class="step-name-text">Your info</p>
        </div>
      </div>

      <div class="step-text">
        <div class="step-number">2</div>

        <div class="step-name">
          <p class="step-num">Step 2</p>
          <p class="step-name-text">Select plan</p>
        </div>
      </div>

      <div class="step-text">
        <div class="step-number">3</div>

        <div class="step-name">
          <p class="step-num">Step 3</p>
          <p class="step-name-text">Add-ons</p>
        </div>
      </div>

      <div class="step-text">
        <div class="step-number current-step">4</div>

        <div class="step-name">
          <p class="step-num">Step 4</p>
          <p class="step-name-text">Summary</p>
        </div>
      </div>
    </section>

    <section class="step-form-section step-5-text-section">
      <img src="../../assets/icon-thank-you.svg" alt="" />
      <h1 class="step-heading">Thank You!</h1>
      <p class="description">
        Thanks for confirming your subscription! We hope you have fun using our
        platform. If you ever need support, please feel free to email us at
      </p>
    </section>
  </section>